<div class='continer'>
  <div class='main-info'>
    <img src='{{flags.svg}}' alt='{{name}}' />
    <h2>{{name}}</h2>
  </div>
  <div class='secondary-info'>
    <p><b>Capital:</b> {{capital}}</p>
    <p><b>Population:</b> {{population}}</p>
    <p><b>Languages:</b> {{languages}}</p>
  </div>
</div>