{{#each this}}
  <div class='continer'>
    <div class='main-info'>
      <img src='{{flags.svg}}' alt='{{name}}' />
      <h2>{{name}}</h2>
    </div>
    <div class='secondary-info'>
      <p><b>Capital:</b> {{capital}}</p>
      <p><b>Population:</b> {{population}}</p>
      <ul class='list-info'><b>Languages: </b>
        {{#each languages}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/each}}